#carrousel{
  margin-left: -10%;
  margin-right: -10%;
  margin-top: -3%;
  margin-bottom: 2%;
}
#boutonAssociation{
  margin-bottom: 55%;
}
#aproprosARSL{
  margin-top: 5%;
}
.responsive {
  width: 100%;
  max-height: 600px;
  height: auto;
}
.tel {
  display: none;
}
.translate {
  margin-right: 50px;
  margin-top: 7px;
}
#centquinze{
  margin-bottom: 5%;
}
#infoAssoOrdi{
  margin-bottom: 15%;
}
@media (max-width: 990px) {

  .tel{
    display:block;
  }
  .ordi {
    display: none;
  }
  .responsive {
    width: 100%;
    max-height: 250px;
    height: auto;
  }
  #texteCarrousel1{
    font-size: 16px;
    margin-bottom: 0%;
  }
  #texteCarrousel2{
    font-size: 20px;
    font-family: candara;
  }
  #centquinze{
    width: 60px;
    height: 30px;
  }
  #boutonAssociation{
    margin-bottom: 0%;
    height: 40%;
  }
}
